.App {
  .sidebar {
    width: 16%;
    height: 100vh;
    position: fixed;
    right: 0;
    background-color: #1b1c25;
    border-left: 1px solid #fff;
    z-index: 11;
    animation: bottomIn 2s ease-in forwards;
    @media screen and (max-width: 1000px) {
      transition: all 1s ease-in-out;
      right: -100%;
      width: 30%;
    }
    @media screen and (max-width: 411px) {
      width: 50%;
    }
  }
  .nav-toggle {
    @media screen and (max-width: 1000px) {
      right: 0;
      transition: all 1s ease;
    }
  }
  .main-content {
    width: 84%;
    margin-right: 16%;
    background-image: url("../Images/banner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 100vh;
    display: grid;
    position: relative;
    animation: topIn 2s ease-in forwards;
    .content {
      margin: 5rem 15rem;
      @media screen and (max-width: 1000px) {
        margin: 8rem 3rem;
        text-align: center;
      }
    }
    @media screen and (max-width: 1000px) {
      margin-left: 0;
      width: 100%;
    }
  }
}
.nav-btn {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 4rem;
  height: 4rem;
  z-index: 10;
  display: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  .lines {
    height: 0.4rem;
    width: 100%;
    background-color: #206a5d;
    pointer-events: none;
    display: none;
    border-radius: 20px;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  @media screen and (max-width: 1000px) {
    display: block;
    .lines {
      display: block;
    }
  }
}
@keyframes topIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bottomIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
