.NavBar {
  height: 100vh;
  animation: rightIn 2.5s ease-in forwards;
  .nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .profile {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #fff;
    img {
      width: 70%;
      height: 100%;
      border-radius: 20%;
      border: 5px solid #fff;
      margin-bottom: 1rem;
      object-fit: cover;
    }
  }
  .nav-items {
    width: 100%;
    .nav-item {
      list-style: none;
      text-align: center;
      a {
        text-decoration: none;
        color: inherit;
        font-size: inherit;
        display: block;
        padding: 0.5rem;
      }
    }
  }
  .footer {
    width: 100%;
    border-top: 1px solid #fff;
    p {
      text-align: center;
      padding: 1rem 0;
      font-size: 0.9rem;
    }
  }
}
.active {
  background-color: #206a5d;
}
@keyframes rightIn {
  0% {
    transform: translateX(100%);
  }
  90% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
