@import "./Styles/layout";
@import "./Styles/navbar";
@import "./Styles/typography";
@import "./Styles/title";
@import "./Styles/about";
@import "./Styles/skills";
@import "./Styles/contact";
@import "./Styles/projects";
@import "./Styles/blogs";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #ebecf1;
  font-size: 1.2rem;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: #206a5d;
  border-radius: 50px;
}
body::-webkit-scrollbar-track {
  background-color: #1f4068;
}
span {
  color: #206a5d;
}
